<h1>Welcme! 😎</h1>

<div class="play-container">
  <p>
    You've clikced <span (click)="counterClick()">this</span
    >{{ clickCounter }} times
  </p>
</div>

<div class="play-container">
  <p>
    <input type="text" [(ngModel)]="name" />
    <br />
    <strong>You said:</strong> {{ name }}
  </p>
</div>

<!-- change css property -->
<!-- [style.background-color]="clickCounter > 4 ? 'yellow' : 'blue'" -->
<!-- [ngStyle]="{
    'background-color': clickCounter > 4 ? 'yellow' : 'blue',
    border: clickCounter > 4 ? '4px solid' : 'none'
  }" -->
<!-- [class.active] = "clickCounter > 4" -->
<div class="play-container" [class.active]="clickCounter > 4">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The click counter <strong>IS GREATER</strong> than 4.</p>
  </ng-template>

  <ng-template #none>NOT greater than 4</ng-template>
</div>
